*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Raleway", serif;
}


.name, .position {
    font-size: large;
    color: black;
}

.name {
    font-weight: bolder;
    margin-bottom: 0;
}

.position {
    font-weight: normal;
}

.contacts {
    font-size: x-small;
    font-family: 'Roboto Mono', monospace;
    color: gray;
}

.data-section {
    width: 80%;
}

.row {
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
}

.section-bottom {
    margin-bottom: 0;
    border-bottom: none;
}

.badges {
    margin-bottom: 20px;
    margin-left: 10px;
}

.navbar-header {
    border-bottom: 2px solid coral;
}

.section-name {
    color: coral;
    font-style: italic;
}

body {
    margin-top: 165px;
}

h6 {
    font-style: italic;
    font-weight: 100;
    font-size: medium;
}

h4 {
    font-weight: 600;
    font-size: medium;
}

ul {
    padding: 0 0 0 10px;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
}